<h1>My Task to Investigate</h1>

  <%= @task.title %>
  <%= @task.details %>
  <%= @task.completed %>

<p> <%= link_to "Back To List", tasks_path %> </p>

<p> <%= link_to "Edit a Task", edit_path %> </p>
